@import url('blocks/header/bascet.css');
@import url('blocks/header/header.css');
@import url('blocks/header/logo.css');
@import url('blocks/header/navigation.css');
@import url('blocks/header/user-info.css');
@import url('blocks/header/wrapper.css');

.product{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.products__img {
  max-height: 639px;
  max-width: 900px;
}

.products__name {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: rgb(48, 48, 48);
  text-transform: uppercase;
  line-height: 2;
}

.ptoducts__artic {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgba(124, 124, 124, 0.486);
  text-transform: uppercase;
  line-height: 2;
}

.products__text {
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(96, 96, 96);
  line-height: 2;
}

.products_price {
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgba(96, 96, 96, 0.589);
}

.size {
  font-size: 24px;
  font-family: "Lato";
  color: rgb(70, 69, 66);
  text-transform: uppercase;
  line-height: 4;
  padding-left: 10px;
}

.size span {
  padding: 10px;
  border: 2px solid gray;
}


















@import url('blocks/footer/footer.css');
@import url('blocks/footer/collection-footer.css');
@import url('blocks/footer/shop.css');
@import url('blocks/footer/social.css');